In [1]:
# importing libraries

import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r"C:\Users\Tanush Sujoy\Downloads\RPC11_Input_For_Participants\RPC11_Input_For_Participants\datasets\constituency_wise_results_2014.csv")
df1=pd.read_csv(r"C:\Users\Tanush Sujoy\Downloads\RPC11_Input_For_Participants\RPC11_Input_For_Participants\datasets\constituency_wise_results_2019.csv")
df.head()

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors
0,Andhra Pradesh,Adilabad,GODAM NAGESH,M,49.0,ST,TRS,Car,425762,5085,430847,1386282
1,Andhra Pradesh,Adilabad,NARESH,M,37.0,ST,INC,Hand,257994,1563,259557,1386282
2,Andhra Pradesh,Adilabad,RAMESH RATHOD,M,48.0,ST,TDP,Bicycle,182879,1319,184198,1386282
3,Andhra Pradesh,Adilabad,RATHOD SADASHIV,M,55.0,ST,BSP,Elephant,94363,57,94420,1386282
4,Andhra Pradesh,Adilabad,NETHAWATH RAMDAS,M,44.0,ST,IND,Auto- Rickshaw,41028,4,41032,1386282

In [3]:
df1.head()

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors
0,Andhra Pradesh,Aruku,KISHORE CHANDRA DEO,MALE,72.0,ST,TDP,Bicycle,336163,1938,338101,1451418
1,Andhra Pradesh,Aruku,Dr. KOSURI KASI VISWANADHA VEERA VENKATA SATYA...,MALE,54.0,ST,BJP,Lotus,17578,289,17867,1451418
2,Andhra Pradesh,Aruku,GODDETI. MADHAVI,FEMALE,26.0,ST,YSRCP,Ceiling Fan,557561,4629,562190,1451418
3,Andhra Pradesh,Aruku,SHRUTI DEVI VYRICHERLA,FEMALE,46.0,ST,INC,Hand,17656,74,17730,1451418
4,Andhra Pradesh,Aruku,GANGULAIAH VAMPURU.,MALE,49.0,ST,JnP,Glass Tumbler,42245,549,42794,1451418

In [4]:
df.isnull().sum()

state               0
pc_name             0
candidate           0
sex               510
age               510
category          510
party               0
party_symbol        0
general_votes       0
postal_votes        0
total_votes         0
total_electors      0
dtype: int64

In [5]:
# Calculate the mode for the 'category' column
category_mode = df['category'].mode()[0]
sex_mode=df['sex'].mode()[0]

In [6]:
# Calculate the mean for the 'age' column
age_mean = df['age'].mean()

In [7]:
# Replace null values in 'category' with the mode
df['category'].fillna(category_mode,inplace=True)
df['sex']=df['sex'].fillna(sex_mode)

# Replace null values in 'age' with the mean
df['age']=df['age'].fillna(age_mean)

C:\Users\Tanush Sujoy\AppData\Local\Temp\ipykernel_13460\120287662.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['category'].fillna(category_mode,inplace=True)

In [8]:
df.isnull().sum()

state             0
pc_name           0
candidate         0
sex               0
age               0
category          0
party             0
party_symbol      0
general_votes     0
postal_votes      0
total_votes       0
total_electors    0
dtype: int64

In [9]:
df1.isnull().sum()

state               0
pc_name             0
candidate           0
sex               543
age               543
category          543
party               0
party_symbol      543
general_votes       0
postal_votes        0
total_votes         0
total_electors      0
dtype: int64

In [10]:
#Calculate mode for sex,party,category
party_symbol_mode=df1['party_symbol'].mode()[0]
sex1_mode=df1['sex'].mode()[0]
category1_mode=df1['category'].mode()[0]

In [11]:
#calculate mean for age
age1_mean=df1['age'].mean()

In [12]:
# Replace null values in 'category' with the mode
df1['category']=df1['category'].fillna(category1_mode)
df1['sex']=df1['sex'].fillna(sex1_mode)
df1['party_symbol']=df1['party_symbol'].fillna(party_symbol_mode)

# Replace null values in 'age' with the mean
df1['age']= df1['age'].fillna(age_mean)

In [13]:
df1.isnull().sum()

state             0
pc_name           0
candidate         0
sex               0
age               0
category          0
party             0
party_symbol      0
general_votes     0
postal_votes      0
total_votes       0
total_electors    0
dtype: int64

In [14]:
df.duplicated().sum()

0

In [15]:
df1.duplicated().sum()

0

In [16]:
df.shape

(8355, 12)

In [17]:
df1.shape

(8597, 12)

# check for spelling errors in constituency

In [18]:
# Check for unique constituency names
unique_pc_names = df['pc_name'].unique()

In [31]:
print("Unique constituency names before correction:", unique_pc_names)

Unique constituency names before correction: ['Adilabad ' 'Peddapalle ' 'Karimnagar ' 'Nizamabad' 'Zahirabad' 'Medak'
 'Malkajgiri' 'Secundrabad' 'Hyderabad' 'CHELVELLA' 'Mahbubnagar'
 'Nagarkurnool' 'Nalgonda' 'Bhongir ' 'Warangal' 'Mahabubabad  '
 'Khammam ' 'Aruku ' 'Srikakulam' 'Vizianagaram' 'Visakhapatnam'
 'Anakapalli' 'Kakinada' 'Amalapuram ' 'Rajahmundry' 'Narsapuram' 'Eluru '
 'Machilipatnam ' 'Vijayawada' 'Guntur' 'Narasaraopet' 'Bapatla '
 'Ongole ' 'Nandyal' 'Kurnool' 'Anantapur' 'Hindupur' 'Kadapa' 'Nellore'
 'Tirupati ' 'Rajampet' 'Chittoor ' 'ARUNACHAL WEST' 'ARUNACHAL EAST'
 'Karimganj ' 'Silchar' 'Autonomous District' 'Dhubri' 'Kokrajhar'
 'Barpeta' 'Gauhati' 'Mangaldoi' 'Tezpur' 'Nowgong' 'Kaliabor' 'Jorhat'
 'Dibrugarh' 'Lakhimpur' 'Valmiki Nagar' 'Paschim Champaran'
 'Purvi Champaran' 'Sheohar' 'Sitamarhi' 'Madhubani' 'Jhanjharpur'
 'Supaul' 'Araria' 'Kishanganj' 'Katihar' 'Purnia' 'Madhepura' 'Darbhanga'
 'Muzaffarpur' 'Vaishali' 'Gopalganj (SC)' 'Siwan' 'Maharajganj' 'Saran'
 'Hajipur (SC)' 'Ujiarpur' 'Samastipur (SC)' 'Begusarai' 'Khagaria'
 'Bhagalpur' 'Banka' 'Munger' 'Nalanda' 'Patna Sahib' 'Pataliputra'
 'Arrah' 'Buxar' 'Sasaram (SC)' 'Karakat' 'Jahanabad' 'Aurangabad'
 'Gaya (SC)' 'Nawada' 'Jamui (SC)' 'North Goa' 'South Goa' 'Kachchh'
 'Banaskantha' 'Patan' 'Mahesana' 'Sabarkantha' 'Gandhinagar'
 'Ahmedabad East' 'Ahmedabad West' 'Surendranagar' 'Rajkot' 'Porbandar'
 'Jamnagar' 'Junagadh' 'Amreli' 'Bhavnagar' 'Anand' 'Kheda' 'Panchmahal'
 'Dahod' 'Vadodara' 'Chhota Udaipur' 'Bharuch' 'Bardoli' 'Surat' 'Navsari'
 'Valsad' 'Ambala' 'Kurukshetra' 'Sirsa' 'Hisar' 'Karnal' 'Sonipat'
 'Rohtak' 'Bhiwani-Mahendragarh' 'Gurgaon' 'Faridabad' 'Kangra' 'Mandi'
 'Hamirpur' 'Shimla' 'Baramulla' 'Srinagar' 'Anantnag' 'Ladakh' 'Udhampur'
 'Jammu' 'Chikkodi' 'Belgaum' 'Bagalkot' 'Bijapur' 'Gulbarga' 'Raichur'
 'Bidar' 'Koppal' 'Bellary' 'Haveri' 'Dharwad' 'Uttara Kannada'
 'Davanagere' 'Shimoga' 'Udupi Chikmagalur' 'Hassan' 'Dakshina Kannada'
 'Chitradurga' 'Tumkur' 'Mandya' 'Mysore' 'Chamarajanagar'
 'Bangalore Rural' 'Bangalore North' 'Bangalore central' 'Bangalore South'
 'Chikkballapur' 'Kolar' 'Kasaragod' 'Kannur' 'Vadakara' 'Wayanad'
 'Kozhikode' 'Malappuram' 'Ponnani' 'Palakkad' 'Alathur ' 'Thrissur'
 'Chalakudy' 'Ernakulam' 'Idukki' 'Kottayam' 'Alappuzha' 'Mavelikkara '
 'Pathanamthitta' 'Kollam' 'Attingal' 'Thiruvananthapuram' 'MORENA'
 'BHIND' 'GWALIOR' 'GUNA' 'SAGAR' 'TIKAMGARH' 'DAMOH' 'KHAJURAHO' 'SATNA'
 'REWA' 'SIDHI' 'SHAHDOL' 'JABALPUR' 'MANDLA' 'BALAGHAT' 'CHHINDWARA'
 'HOSHANGABAD' 'VIDISHA' 'BHOPAL' 'RAJGARH' 'DEWAS' 'UJJAIN' 'MANDSOUR'
 'RATLAM' 'DHAR' 'INDORE' 'KHARGONE' 'KHANDWA' 'BETUL' 'Nandurbar '
 'Dhule' 'Jalgaon' 'Raver' 'Buldhana' 'Akola' 'Amravati ' 'Wardha'
 'Ramtek ' 'Nagpur ' 'Bhandara - gondiya' 'Gadchiroli-Chimur' 'Chandrapur'
 'Yavatmal-Washim' 'Hingoli ' 'Nanded' 'Parbhani' 'Jalna' 'Dindori '
 'Nashik' 'Palghar ' 'Bhiwandi' 'Kalyan' 'Thane' 'Mumbai North'
 'Mumbai North West' 'Mumbai North East' 'Mumbai North central'
 'Mumbai South central' 'Mumbai   South' 'Raigad' 'Maval' 'Pune'
 'Baramati' 'Shirur' 'Ahmadnagar ' 'Shirdi' 'Beed' 'Osmanabad' 'Latur '
 'Solapur ' 'Madha' 'Sangli' 'Satara' 'Ratnagiri - sindhudurg' 'Kolhapur'
 'Hatkanangle' 'Inner manipur' 'Outer manipur' 'Shillong' 'Tura '
 'MIZORAM' 'Nagaland' 'Gurdaspur' 'Amritsar' 'Khadoor Sahib' 'Jalandhar'
 'Hoshiarpur' 'Anandpur Sahib' 'Ludhiana' 'Fatehgarh Sahib' 'Faridkot'
 'Firozpur' 'Bathinda' 'Sangrur' 'Patiala' 'Ganganagar' 'Bikaner' 'Churu'
 'Jhunjhunu' 'Sikar' 'Jaipur Rural' 'Jaipur' 'Alwar' 'BHARATPUR'
 'KARAULI-DHOLPUR' 'Dausa' 'TONK-SAWAI MADHOPUR' 'Ajmer' 'Nagaur' 'Pali'
 'Jodhpur' 'Barmer' 'Jalore' 'Udaipur' 'Banswara' 'Chittorgarh'
 'Rajsamand' 'Bhilwara' 'Kota' 'JHALAWAR-BARAN' 'Sikkim' 'Thiruvallur '
 'Chennai North' 'Chennai South' 'Chennai central' 'Sriperumbudur'
 'Kancheepuram ' 'Arakkonam' 'Vellore' 'Krishnagiri' 'Dharmapuri'
 'Tiruvannamalai' 'Arani' 'Viluppuram' 'Kallakurichi' 'Salem' 'Namakkal'
 'Erode' 'Tiruppur' 'Nilgiris ' 'Coimbatore' 'Pollachi' 'Dindigul' 'Karur'
 'Tiruchirappalli' 'Perambalur' 'Cuddalore ' 'Chidambaram '
 'Mayiladuthurai' 'Nagapattinam ' 'Thanjavur' 'Sivaganga' 'Madurai'
 'Theni ' 'Virudhunagar' 'Ramanathapuram' 'Thoothukkudi' 'Tenkasi '
 'Tirunelveli' 'Kanniyakumari' 'Tripura West' 'Tripura East' 'Saharanpur'
 'Kairana' 'Muzaffarnagar' 'Bijnor' 'Nagina' 'Moradabad' 'Rampur'
 'Sambhal' 'Amroha' 'Meerut' 'Baghpat' 'Ghaziabad' 'Gautam Buddha Nagar'
 'Bulandshahr' 'Aligarh' 'Hathras' 'Mathura' 'Agra' 'Fatehpur Sikri'
 'Firozabad' 'Mainpuri' 'Etah' 'Badaun' 'Aonla' 'Bareilly' 'Pilibhit'
 'Shahjahanpur' 'Kheri' 'Dhaurahra' 'Sitapur' 'Hardoi' 'Misrikh' 'Unnao'
 'Mohanlalganj' 'Lucknow' 'Rae Bareli' 'Amethi' 'Sultanpur' 'Pratapgarh'
 'Farrukhabad' 'Etawah' 'Kannauj' 'Kanpur' 'Akbarpur' 'Jalaun' 'Jhansi'
 'Banda' 'Fatehpur' 'Kaushambi' 'Phulpur' 'Allahabad' 'Barabanki'
 'Faizabad' 'Ambedkar Nagar' 'Bahraich' 'Kaiserganj' 'Shrawasti' 'Gonda'
 'Domariyaganj' 'Basti' 'Sant Kabir Nagar' 'Gorakhpur' 'Kushi Nagar'
 'Deoria' 'Bansgaon' 'Lalganj' 'Azamgarh' 'Ghosi' 'Salempur' 'Ballia'
 'Jaunpur' 'Machhlishahr' 'Ghazipur' 'Chandauli' 'Varanasi' 'Bhadohi'
 'Mirzapur' 'Robertsganj' 'Cooch behar' 'Alipurduars' 'Jalpaiguri'
 'Darjeeling' 'Raiganj' 'Balurghat' 'Maldaha Uttar' 'Maldaha Dakshin'
 'Jangipur' 'Baharampur' 'Murshidabad' 'Krishnanagar' 'Ranaghat' 'Bangaon'
 'Barrackpore' 'Dum dum' 'Barasat' 'Basirhat' 'Joynagar' 'Mathurapur'
 'Diamond harbour' 'Jadavpur' 'Kolkata Dakshin' 'Kolkata Uttar' 'Howrah'
 'Uluberia' 'Srerampur' 'Hooghly' 'Arambagh' 'Tamluk' 'Kanthi' 'Ghatal'
 'Jhargram' 'Medinipur' 'Purulia' 'Bankura' 'Bishnupur' 'Bardhaman Purba'
 'Burdwan - durgapur' 'Asansol' 'Bolpur' 'Birbhum' 'Rajmahal' 'Dumka'
 'Godda' 'Chatra' 'Kodarma' 'Giridih' 'Dhanbad' 'Ranchi' 'Jamshedpur'
 'Singhbhum' 'Khunti' 'Lohardaga' 'Palamau' 'Hazaribagh' 'Tehri Garhwal'
 'Garhwal' 'Almora' 'Nainital-udhamsingh Nagar' 'Hardwar'
 'Andaman & Nicobar Islands' 'CHANDIGARH' 'Dadar & Nagar Haveli'
 'Daman & diu' 'CHANDNI CHOWK                 '
 'NORTH EAST DELHI              ' 'EAST DELHI                    '
 'NEW DELHI                     ' 'NORTH WEST DELHI              '
 'WEST DELHI                    ' 'SOUTH DELHI                   '
 'Lakshadweep' 'Puducherry']

In [19]:
from spellchecker import SpellChecker
import spacy
from multiprocessing import Pool

In [20]:
# Extract unique constituency names from  DataFrame
unique_constituencies = df['pc_name'].unique()

# Initialize spaCy and spell checker
nlp = spacy.load('en_core_web_sm')
spell = SpellChecker(distance=2)
spell.word_frequency.load_words(unique_constituencies)

In [21]:
# Function to correct constituency name
def corrected_pc_name(name):
    corrected_name = spell.correction(name)
    return corrected_name

# Apply correction to the 'pc_name' column in your DataFrame
df['pc_name_corrected'] = df['pc_name'].apply(corrected_pc_name)

# Display corrected constituency names
df_corrected=df[['pc_name','pc_name_corrected']]
print(df_corrected)

         pc_name pc_name_corrected
0      Adilabad          Adilabad
1      Adilabad          Adilabad
2      Adilabad          Adilabad
3      Adilabad          Adilabad
4      Adilabad          Adilabad
...          ...               ...
8350  Puducherry        Puducherry
8351  Puducherry        Puducherry
8352  Puducherry        Puducherry
8353  Puducherry        Puducherry
8354  Puducherry        Puducherry

[8355 rows x 2 columns]

# Spell check for 2019 poll pc_name

In [22]:
# Extract unique constituency names from  DataFrame
unique_constituencies_2019 = df1['pc_name'].unique()

# Initialize spaCy and spell checker
nlp = spacy.load('en_core_web_sm')
spell = SpellChecker(distance=2)
spell.word_frequency.load_words(unique_constituencies_2019)

In [23]:
# Function to correct constituency name
def corrected_pc_name_2019(name):
    corrected_name_2019 = spell.correction(name)
    return corrected_name_2019

# Apply correction to the 'pc_name' column in your DataFrame
df1['pc_name_corrected_2019'] = df1['pc_name'].apply(corrected_pc_name_2019)

# Display corrected constituency names
df_corrected_2019=df1[['pc_name','pc_name_corrected_2019']]
print(df_corrected_2019)

         pc_name pc_name_corrected_2019
0         Aruku                  Aruku
1         Aruku                  Aruku
2         Aruku                  Aruku
3         Aruku                  Aruku
4         Aruku                  Aruku
...          ...                    ...
8592  Puducherry             Puducherry
8593  Puducherry             Puducherry
8594  Puducherry             Puducherry
8595  Puducherry             Puducherry
8596  Puducherry             Puducherry

[8597 rows x 2 columns]

# election data 2014 check

In [24]:
df.isnull().sum()

state                0
pc_name              0
candidate            0
sex                  0
age                  0
category             0
party                0
party_symbol         0
general_votes        0
postal_votes         0
total_votes          0
total_electors       0
pc_name_corrected    0
dtype: int64

In [25]:
df1.isnull().sum()

state                     0
pc_name                   0
candidate                 0
sex                       0
age                       0
category                  0
party                     0
party_symbol              0
general_votes             0
postal_votes              0
total_votes               0
total_electors            0
pc_name_corrected_2019    0
dtype: int64

In [26]:
df.duplicated().sum()

0

In [27]:
df1.duplicated().sum()

0

In [28]:
df.head(3)

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors,pc_name_corrected
0,Andhra Pradesh,Adilabad,GODAM NAGESH,M,49.0,ST,TRS,Car,425762,5085,430847,1386282,Adilabad
1,Andhra Pradesh,Adilabad,NARESH,M,37.0,ST,INC,Hand,257994,1563,259557,1386282,Adilabad
2,Andhra Pradesh,Adilabad,RAMESH RATHOD,M,48.0,ST,TDP,Bicycle,182879,1319,184198,1386282,Adilabad

In [29]:
# Drop the 'pc_name'  columns
df.drop(['pc_name'], axis=1, inplace=True)

In [30]:
df.head(1)

,state,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors,pc_name_corrected
0,Andhra Pradesh,GODAM NAGESH,M,49.0,ST,TRS,Car,425762,5085,430847,1386282,Adilabad

In [31]:
# List of constituencies to change state from Andhra Pradesh to Telangana
constituencies_to_change = [
    'Adilabad', 'Bhadradri Kothagudem', 'Hanumakonda', 'Hyderabad', 'Jagitial',
    'Jangoan', 'Jayashankar Bhupalapally', 'Jogulamba Gadwal', 'Kamareddy',
    'Karimnagar', 'Khammam', 'Kumuram Bheem Asifabad', 'Mahabubabad', 'Mahabubnagar',
    'Mancherial', 'Medak', 'Medchal Malkajgiri', 'Mulugu', 'Nagarkurnool',
    'Nalgonda', 'Narayanpet', 'Nirmal', 'Nizamabad', 'Peddapalli', 'Rajanna Sircilla',
    'Wanaparthy', 'Warangal', 'Yadadri Bhuvanagiri', 'Ranga Reddy', 'Sangareddy',
    'Siddipet', 'Suryapet', 'Vikarabad'
]

# Change the state from Andhra Pradesh to Telangana for the specified constituencies
df.loc[df['pc_name_corrected'].isin(constituencies_to_change), 'state'] = 'Telangana'

In [32]:
# Reorder the columns
df_reordered = df[['state', 'pc_name_corrected', 'candidate', 'sex', 'age', 'category', 'party', 'party_symbol', 'general_votes', 'postal_votes', 'total_votes', 'total_electors']]
# Rename the specified columns
df_reordered.rename(columns={
    'general_votes': 'generalvotes_2014',
    'postal_votes': 'postalvotes_2014',
    'total_votes': 'totalvotes_2014',
    'total_electors': 'totalelectors_2014'
}, inplace=True)
# Save the reordered DataFrame to a new CSV file
#df_reordered.to_excel('df_2014_corrected.xlsx', index=False)

In [34]:
df_reordered.isnull().sum()

state                 0
pc_name_corrected     0
candidate             0
sex                   0
age                   0
category              0
party                 0
party_symbol          0
generalvotes_2014     0
postalvotes_2014      0
totalvotes_2014       0
totalelectors_2014    0
dtype: int64

# election data 2019 check

In [35]:
df1.head(3)

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors,pc_name_corrected_2019
0,Andhra Pradesh,Aruku,KISHORE CHANDRA DEO,MALE,72.0,ST,TDP,Bicycle,336163,1938,338101,1451418,Aruku
1,Andhra Pradesh,Aruku,Dr. KOSURI KASI VISWANADHA VEERA VENKATA SATYA...,MALE,54.0,ST,BJP,Lotus,17578,289,17867,1451418,Aruku
2,Andhra Pradesh,Aruku,GODDETI. MADHAVI,FEMALE,26.0,ST,YSRCP,Ceiling Fan,557561,4629,562190,1451418,Aruku

In [36]:
df1.drop(['pc_name'], axis=1, inplace=True)

In [37]:
df1.head(1)

,state,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors,pc_name_corrected_2019
0,Andhra Pradesh,KISHORE CHANDRA DEO,MALE,72.0,ST,TDP,Bicycle,336163,1938,338101,1451418,Aruku

In [38]:
df1_reordered = df1[['state', 'pc_name_corrected_2019', 'candidate', 'sex', 'age', 'category', 'party', 'party_symbol', 'general_votes', 'postal_votes', 'total_votes', 'total_electors']]
# Rename the specified columns
df1_reordered.rename(columns={
    'pc_name_corrected_2019':'pc_name_corrected',
    'general_votes': 'generalvotes_2019',
    'postal_votes': 'postalvotes_2019',
    'total_votes': 'totalvotes_2019',
    'total_electors': 'totalelectors_2019'
}, inplace=True)
# Save the reordered DataFrame to a new CSV file
#df1_reordered.to_excel('df_corrected_2019.xlsx', index=False)

In [39]:
pip install pandas openpyxl

Requirement already satisfied: pandas in c:\users\tanush sujoy\anaconda3\lib\site-packages (2.2.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: openpyxl in c:\users\tanush sujoy\anaconda3\lib\site-packages (3.1.3)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\tanush sujoy\anaconda3\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\tanush sujoy\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\tanush sujoy\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\tanush sujoy\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: et-xmlfile in c:\users\tanush sujoy\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\users\tanush sujoy\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [39]:
df1_reordered.duplicated().sum()
#will show total duplicated records

0

In [40]:
df_reordered.duplicated().sum()

0

In [41]:
df_2014_cleaned = df_reordered.copy()
df_2019_cleaned = df1_reordered.copy()

#Drop missing values from the copies
df_2014_cleaned.dropna(inplace=True)
df_2019_cleaned.dropna(inplace=True)

In [42]:
df_2014_cleaned.isnull().sum()
df_2019_cleaned.isnull().sum()

state                 0
pc_name_corrected     0
candidate             0
sex                   0
age                   0
category              0
party                 0
party_symbol          0
generalvotes_2019     0
postalvotes_2019      0
totalvotes_2019       0
totalelectors_2019    0
dtype: int64

In [43]:
# Create composite key
df_2014_cleaned['composite_key'] = df_2014_cleaned.apply(lambda x: f"{x['state']}_{x['party']}_{x['pc_name_corrected']}", axis=1)
df_2019_cleaned['composite_key'] = df_2019_cleaned.apply(lambda x: f"{x['state']}_{x['party']}_{x['pc_name_corrected']}", axis=1)

In [44]:
df_2014_cleaned.head(1)

,state,pc_name_corrected,candidate,sex,age,category,party,party_symbol,generalvotes_2014,postalvotes_2014,totalvotes_2014,totalelectors_2014,composite_key
0,Andhra Pradesh,Adilabad,GODAM NAGESH,M,49.0,ST,TRS,Car,425762,5085,430847,1386282,Andhra Pradesh_TRS_Adilabad

In [45]:
df_2019_cleaned.head(1)

,state,pc_name_corrected,candidate,sex,age,category,party,party_symbol,generalvotes_2019,postalvotes_2019,totalvotes_2019,totalelectors_2019,composite_key
0,Andhra Pradesh,Aruku,KISHORE CHANDRA DEO,MALE,72.0,ST,TDP,Bicycle,336163,1938,338101,1451418,Andhra Pradesh_TDP_Aruku

# create dimension table

In [47]:
# Create dimension tables
candidates_2019 = df_2019_cleaned[['composite_key', 'candidate', 'sex', 'age', 'party']].drop_duplicates()
constituencies_2019 = df_2019_cleaned[['composite_key', 'state', 'pc_name_corrected']].drop_duplicates()

candidates_2014 = df_2014_cleaned[['composite_key', 'candidate', 'sex', 'age', 'party']].drop_duplicates()
constituencies_2014 = df_2014_cleaned[['composite_key', 'state', 'pc_name_corrected']].drop_duplicates()

# Rename columns to have a consistent name for merging
#constituencies_2019.rename(columns={'pc_name_corrected_2019': 'pc_name_corrected'}, inplace=True)
#constituencies_2014.rename(columns={'pc_name_corrected': 'pc_name_corrected'}, inplace=True)

#concatenate candidates & constituencies from 2014,& 2019 

candidates = pd.concat([candidates_2019, candidates_2014]).drop_duplicates()
constituencies = pd.concat([constituencies_2019, constituencies_2014]).drop_duplicates()

In [48]:
print('no of null candidates:',candidates.isnull().sum())
print('no of null constituencies:',constituencies.isnull().sum())

no of null candidates: composite_key    0
candidate        0
sex              0
age              0
party            0
dtype: int64
no of null constituencies: composite_key        0
state                0
pc_name_corrected    0
dtype: int64

In [49]:
print(df_2019_cleaned.columns)
print(df_2014_cleaned.columns)

Index(['state', 'pc_name_corrected', 'candidate', 'sex', 'age', 'category',
       'party', 'party_symbol', 'generalvotes_2019', 'postalvotes_2019',
       'totalvotes_2019', 'totalelectors_2019', 'composite_key'],
      dtype='object')
Index(['state', 'pc_name_corrected', 'candidate', 'sex', 'age', 'category',
       'party', 'party_symbol', 'generalvotes_2014', 'postalvotes_2014',
       'totalvotes_2014', 'totalelectors_2014', 'composite_key'],
      dtype='object')

# create fact tables

In [51]:
# Ensure the fact tables have the correct column names
fact_2014 = df_2014_cleaned[['composite_key', 'state', 'pc_name_corrected', 'candidate', 'sex', 'age', 'category', 'party', 'generalvotes_2014', 'postalvotes_2014', 'totalvotes_2014', 'totalelectors_2014']]
fact_2019 = df_2019_cleaned[['composite_key', 'state', 'pc_name_corrected', 'candidate', 'sex', 'age', 'category', 'party', 'generalvotes_2019', 'postalvotes_2019', 'totalvotes_2019', 'totalelectors_2019']]

# Select necessary columns and align them
#fact_2014 = fact_2014[['composite_key', 'state', 'pc_name_corrected', 'candidate', 'sex', 'age', 'category', 'party', 'general_votes_2014', 'postal_votes_2014', 'total_votes_2014', 'total_electors_2014']]
#fact_2019 = fact_2019[['composite_key', 'state', 'pc_name_corrected_2019', 'candidate', 'sex', 'age', 'category', 'party', 'general_votes_2019', 'postal_votes_2019', 'total_votes_2019', 'total_electors_2019']]

# Merge fact_2019 and fact_2014 on composite_key
fact_combined = pd.merge(fact_2019, fact_2014, on='composite_key', how='outer', suffixes=('_2019', '_2014'))

# Optionally, save the resulting fact table to a CSV or Excel file
fact_combined.to_excel('fact_combined.xlsx', index=False)

# Print the first few rows to check the result
print(fact_combined.head())

                                       composite_key  \
0  Andaman & Nicobar Islands_AAAP_Andaman & Nicob...
1  Andaman & Nicobar Islands_AIFB_Andaman & Nicob...
2  Andaman & Nicobar Islands_AINHCP_Andaman & Nic...
3  Andaman & Nicobar Islands_AITC_Andaman & Nicob...
4  Andaman & Nicobar Islands_BJP_Andaman & Nicoba...

                  state_2019     pc_name_corrected_2019  candidate_2019  \
0  Andaman & Nicobar Islands  Andaman & Nicobar Islands  SANJAY MESHACK
1                        NaN                        NaN             NaN
2  Andaman & Nicobar Islands  Andaman & Nicobar Islands  C G SAJI KUMAR
3  Andaman & Nicobar Islands  Andaman & Nicobar Islands     AYAN MANDAL
4  Andaman & Nicobar Islands  Andaman & Nicobar Islands    VISHAL JOLLY

  sex_2019  age_2019 category_2019 party_2019  generalvotes_2019  \
0     MALE      49.0       GENERAL       AAAP             2837.0
1      NaN       NaN           NaN        NaN                NaN
2     MALE      48.0       GENERAL     AINHCP              212.0
3     MALE      30.0       GENERAL       AITC             1717.0
4     MALE      46.0       GENERAL        BJP            93772.0

   postalvotes_2019  ...     pc_name_corrected_2014   candidate_2014 sex_2014  \
0               2.0  ...  Andaman & Nicobar Islands   SANJAY MESHACK        M
1               NaN  ...  Andaman & Nicobar Islands        A PANDIAN        M
2               0.0  ...                        NaN              NaN      NaN
3               4.0  ...  Andaman & Nicobar Islands     ANITA MONDAL        F
4             129.0  ...  Andaman & Nicobar Islands  BISHNU PADA RAY        M

  age_2014 category_2014 party_2014  generalvotes_2014 postalvotes_2014  \
0     43.0           GEN       AAAP             3725.0             12.0
1     41.0           GEN       AIFB              225.0              0.0
2      NaN           NaN        NaN                NaN              NaN
3     48.0           GEN       AITC             2283.0              0.0
4     64.0           GEN        BJP            90882.0             87.0

  totalvotes_2014  totalelectors_2014
0          3737.0            269360.0
1           225.0            269360.0
2             NaN                 NaN
3          2283.0            269360.0
4         90969.0            269360.0

[5 rows x 23 columns]

In [52]:
# Save the DataFrames to new Excel files
candidates.to_excel('candidates.xlsx', index=False)
constituencies.to_excel('constituencies.xlsx', index=False)